<div id="wrapper">
  <div id="scroll">
    <div id="scrollcontent">
      <table id="tabls">
        <tr>
          <td id="ted" colspan="2"> Datos </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr class="odd" >
          <td id="tede1">Nombre:</td>
          <td><%=h @pais.nombre %></td>
        </tr>
        <tr class="pair" >
          <td id="tede1">Sigla:</td>
          <td><%=h @pais.sigla %></td>
        </tr>
      </table>
    </div>
    <div id="scrollbar">
      <div id="scroller" class="scroller"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
TINY.scroller.init('scroll','scrollcontent','scrollbar','scroller','buttonclick');
</script>

<table id="tabls2">
  <tr>
    <td>
      <%= link_to 'Editar', edit_pais_path(@pais) %> |
      <%= link_to 'atras', paises_path %>
    </td>
  </tr>
</table>