<table style="width: 900px; height: 300px">
  <tr>
    <td style="background: url('/images/crystal.png') no-repeat #fff; color: #666; text-transform: capitalize; text-align: right; font:30px Georgia;  padding: 50px">Oficina de gestion de proyectos</td>
  </tr>
</table>