<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <title>Bienvenido</title>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>

    <fieldset>
      <%= yield %>
    </fieldset>

    <footer id="footer">
      <p style="color: #999">Centro De Comercio - Oficina De Gestion De Proyectos - &copy; 2010 +0</p>
    </footer>

</body>
</html>